* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}

.login {
  border: 1px solid rgb(143, 140, 140);
  color: black;
  width: 70%;
  border: 1px solid rgba(169, 184, 183, 0.37);
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
}

.login .header {
  background-color: rgba(169, 184, 183, 0.37);
  line-height: 100px;
  padding-left: 20px;
  border-radius: 10px;
}

.login form {
  line-height: 70px;
  padding-left: 20px;
}

.login .email,
.login .password {
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

.login .header p {
  font-size: 40px;
  display: table-header-group;
}

.login .email label,
.login .password label {
  padding-right: 20px;
  width: 30%;
  font-size: 25px;
  display: inline-block;
}

.login .login_btn {
  margin: 10px;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: rgb(113, 201, 25);
  font-size: 25px;
  cursor: pointer;
}

.login .login_btn:hover {
  background-color: rgb(83, 136, 30);
}

input {
  display: inline-block;
  width: 60%;
  height: 35px;
  font-size: 20px;
  border: 1px solid rgba(40, 41, 41, 0.37);
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 20px;
}

input::placeholder {
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .login {
    width: 100%;
  }
  .login .email label,
  .login .password label {
    width: 100%;
  }

  .login .login_btn {
    width: 95%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 850px) {
  .login {
    width: 100%;
  }
  .login .email label,
  .login .password label {
    width: 100%;
  }
}

.signup_page_link{
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.signup_page_link a{
  text-decoration: none;
  color: rgb(84, 84, 243);
}